.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

body {
    color: white;
    background-image: url("weltall.png");
}

h1, h2, h3, h4, h5 {
    font-family: "Wide Latin";
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mydiv {
    padding-top: 200%;
    width: 50%;
}

p {
    color: white;
    font-family: Arial;
}

.divright {
    text-align: end;
}

.colorizeText {
    color: white;
}

.arrow {
    color: white;
    transform: scale(2);
}

.colorizeText:hover {
    animation-name: colorize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.rotate:hover {
    animation-name: turn360;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.turn:hover {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes colorize {
    0% {
        color: red;
    }
    16.67% {
        color: orange;
    }
    33.33% {
        color: yellow;
    }
    50% {
        color: green;
    }
    66.67% {
        color: blue;
    }
    83.33% {
        color: indigo;
    }
    100% {
        color: red;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes turn360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
